
GUI/obj/Debug/net5.0-windows/GUI.g.resources
GUI/obj/Debug/net5.0-windows/GUI.dll
GUI/bin/Debug/net5.0-windows/GUI.dll
*.v2
.vs/KabaAccounting/v16/.suo
BLL/obj/BLL.csproj.nuget.dgspec.json
BLL/obj/BLL.csproj.nuget.g.props
BLL/obj/BLL.csproj.nuget.g.targets
BLL/obj/Debug/net5.0/BLL.assets.cache
BLL/obj/Debug/net5.0/BLL.csproj.AssemblyReference.cache
BLL/obj/Debug/net5.0/BLL.GeneratedMSBuildEditorConfig.editorconfig
BLL/obj/project.assets.json
BLL/obj/project.nuget.cache
CUL/obj/CUL.csproj.nuget.dgspec.json
CUL/obj/CUL.csproj.nuget.g.props
CUL/obj/CUL.csproj.nuget.g.targets
CUL/obj/Debug/net5.0/CUL.assets.cache
CUL/obj/Debug/net5.0/CUL.csproj.AssemblyReference.cache
CUL/obj/Debug/net5.0/CUL.GeneratedMSBuildEditorConfig.editorconfig
CUL/obj/project.assets.json
CUL/obj/project.nuget.cache
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.g.props
DAL/obj/DAL.csproj.nuget.g.targets
DAL/obj/Debug/net5.0/DAL.assets.cache
DAL/obj/Debug/net5.0/DAL.csproj.AssemblyReference.cache
DAL/obj/Debug/net5.0/DAL.GeneratedMSBuildEditorConfig.editorconfig
DAL/obj/project.assets.json
DAL/obj/project.nuget.cache
GUI/obj/Debug/net5.0-windows/App.g.i.cs
GUI/obj/Debug/net5.0-windows/Example.g.i.cs
GUI/obj/Debug/net5.0-windows/GUI.assets.cache
GUI/obj/Debug/net5.0-windows/GUI.csproj.AssemblyReference.cache
GUI/obj/Debug/net5.0-windows/GUI.designer.runtimeconfig.json
GUI/obj/Debug/net5.0-windows/GUI.GeneratedMSBuildEditorConfig.editorconfig
GUI/obj/Debug/net5.0-windows/GUI_MarkupCompile.i.cache
GUI/obj/Debug/net5.0-windows/GUI_MarkupCompile.i.lref
GUI/obj/Debug/net5.0-windows/TEST.g.i.cs
GUI/obj/Debug/net5.0-windows/WinAccount.g.i.cs
GUI/obj/Debug/net5.0-windows/WinAdminDashboard.g.i.cs
GUI/obj/Debug/net5.0-windows/WinBackup.g.i.cs
GUI/obj/Debug/net5.0-windows/WinBank.g.i.cs
GUI/obj/Debug/net5.0-windows/WinCategory.g.i.cs
GUI/obj/Debug/net5.0-windows/WinCustomer.g.i.cs
GUI/obj/Debug/net5.0-windows/WinDeposit.g.i.cs
GUI/obj/Debug/net5.0-windows/WinExpense.g.i.cs
GUI/obj/Debug/net5.0-windows/WinInventoryAdjustment.g.i.cs
GUI/obj/Debug/net5.0-windows/WinLogin.g.i.cs
GUI/obj/Debug/net5.0-windows/WinPhyInventory.g.i.cs
GUI/obj/Debug/net5.0-windows/WinPointOfPurchase.g.i.cs
GUI/obj/Debug/net5.0-windows/WinPointOfSale.g.i.cs
GUI/obj/Debug/net5.0-windows/WinPopReport.g.i.cs
GUI/obj/Debug/net5.0-windows/WinPosReport.g.i.cs
GUI/obj/Debug/net5.0-windows/WinProducts.g.i.cs
GUI/obj/Debug/net5.0-windows/WinReceipt.g.i.cs
GUI/obj/Debug/net5.0-windows/WinSupplier.g.i.cs
GUI/obj/Debug/net5.0-windows/WinUser.g.i.cs
GUI/obj/GUI.csproj.nuget.dgspec.json
GUI/obj/GUI.csproj.nuget.g.props
GUI/obj/GUI.csproj.nuget.g.targets
GUI/obj/project.assets.json
GUI/obj/project.nuget.cache
AccInvSetup/Debug/AccInvSetup.msi
GUI/bin/Release/net5.0-windows/GUI.dll
GUI/obj/Release/net5.0-windows/GUI.dll
GUI/obj/Release/net5.0-windows/GUI.g.resources
.vs/AccountingAndInventory/v17/.suo
AccInstaller/Debug/AccInstaller.msi
BLL/obj/Release/net5.0/BLL.csproj.AssemblyReference.cache
CUL/obj/Release/net5.0/CUL.csproj.AssemblyReference.cache
.vs/AccountingAndInventory/v17/.suo
BLL/obj/Release/net5.0/BLL.csproj.AssemblyReference.cache
CUL/obj/Release/net5.0/CUL.csproj.AssemblyReference.cache
